server:
  port: 8080

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/predict-numbers"
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  expiryHour: 1
  expiryDay: 15
  secretKey: "S4/BDhmDFzk+cAEFxOJ7kt4kBnMCHKcs8Yco/jboh/IMBsTgj8PlMnq/spmBjh+N"
  refreshKey: "d17b9b9df1182fbf926c01ff571c491e033cfb967e3613b50e507d03973d1ad2"
