server:
  port: 8080

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/predict-numbers"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  expiryTime: 3600000
  secretKey: "S4/BDhmDFzk+cAEFxOJ7kt4kBnMCHKcs8Yco/jboh/IMBsTgj8PlMnq/spmBjh+N"
